@import "variables";
@import "mixins";

body {
  margin: 0;
  background-color: $main_color ;
}

.button {
  color: $light-pink;
  @include transition(color .3s ease);

  &:hover {
    color: $dark-pink;
  }
}